:root {
    --color-dark: #3c1111;
    --color-dark-light: #897270;
    --color-highlight: #aca5a5;
    --color-dark-complementer: #1b2300;

    --br-buttons: 10px;
}

html * {
    box-sizing: border-box;

    padding: 0;
    border: 0;
    margin: 0;

}

body {
    width: 100vw;
    height: 100vh;

    display: grid;
    align-items: center;
    justify-items: center;

    background-color: var(--color-dark);
    border: .3em var(--color-dark-light) solid;
}

.calculator-wrapper {
    width: 90vw;
    height: 90vh;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch ;
    align-items: stretch;
    /* grid-template-areas: 
    'display display display'
    'number number number'
    'number number number'
    'number number number'
    'operator operator operator'
    'operator operator operator'
    ; */

    background: var(--color-dark-complementer);
    padding: 2rem;
}

/* ! Digit buttons */
.digit-button {
    display: grid;
    grid-gap: .15rem;
    grid-template-columns: repeat(3, 1fr);

}
.digit-button button {
    background-color: var(--color-dark-light);
    border: 1px var(--color-dark-complementer) solid;
    /* box-shadow: 0px 10px 13px -7px #ff7d5d; */
    border-radius: var(--br-buttons);
    
}
.digit-button-0 {
    grid-column: span 3;
}

/* ! Operator buttons */
.operator-button {
    display: grid;
    grid-gap: .3rem;
    grid-template-columns: repeat(4, 1fr);
}
.operator-button button {
    border-radius: var(--br-buttons);
}
.operator-button-clearall {
    grid-column: span 2;
}
.operator-button-clear {
    grid-column: span 2;
}
.operator-button-bracketopen {
    grid-column: span 2;
}
.operator-button-bracketclose {
    grid-column: span 2;
}
.operator-button-equals {
    grid-column: span 4;
}

/* ! Digit screen */
.digit-screen {
    background-color: var(--color-highlight);
    padding: 2em;
}