html {
    box-sizing: border-box;

    padding: 0;
    border: 0;
    margin: 0;

}

body {
    width: 100vw;
    height: 100vh;

    display: grid;
    align-items: center;
    justify-items: center;

    background-color: aquamarine;
    border: 1px red solid;
}

.calculator-wrapper {
    width: 90vw;
    height: 90vh;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch ;
    align-items: stretch;
    /* grid-template-areas: 
    'display display display'
    'number number number'
    'number number number'
    'number number number'
    'operator operator operator'
    'operator operator operator'
    ; */

    background: pink;
    border: 1px solid blue;
}
.digit-button {
    display: grid;
    grid-gap: .1rem;
    grid-template-columns: repeat(3, 1fr);
}
.digit-button-0 {
    grid-column: span 3;
}
.operator-button {
    display: grid;
    grid-gap: .1rem;
    grid-template-columns: 1fr 1fr;
}